certifi==2024.6.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
sentry-sdk==2.7.1
urllib3==2.2.2
pydantic-sqlalchemy==0.0.9
sqlalchemy
pydantic
bcrypt
PyJWT==2.8.0
click
rich
sentry-sdk
pytest
coverage
pytest-cov
pytest-mock
flake8
black
python-dotenv